h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

p,
h2 {
  color: aliceblue;
}
.main-header {
  color: rgb(162, 231, 35);
}

body {
  background-color: #303030;
}

article {
  background-color: rgb(133, 133, 133);
  border-top: 5px solid rgb(162, 231, 35);
  border-bottom: 5px solid rgb(162, 231, 35);
}
